.tcarousel{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
    overflow: hidden;
}
.tcarousel .wrapper, .tcarousel .item{
    list-style: none;
}
.tcarousel .wrapper{
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tcarousel .item{
    position: absolute;
}
.tcarousel .item .describe{
    position: absolute;
    opacity: .7;
    filter: alpha(opacity=70);
    background: none repeat scroll 0 0 #000000;
    bottom: 12%;
    left: 30px;
    padding: 0 20px;
    height: 50px;
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    font-family: "Microsoft Yahei";
}