body{
    background-color: #eff3f5;
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.nav_container{
    line-height: 56px;
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    margin-bottom: 20px;
}
.nav_container .logo{
    float: left;
}
.nav_container .logo img{
    height: 40px;
}
.nav_container .nav_list{
    margin-bottom: 0;
    padding-left: 20px;
}
.nav_container .nav_list li.active{
    color: #3498db;
}
.nav_list li{
    float: left;
    list-style: none;
}
.nav_container .nav_list li{
    padding: 0 20px;
    font-size: 14px;
    border-top: 4px solid transparent;
    transition: all .3s;
    position: relative;
}
.nav_container .container{
    position: relative;
}
.nav_list li a{
    color: #71777c;
    text-decoration: none;
}
.nav_list>li:hover{
    background-color: #fff;
    box-shadow: 0px 0 2px rgba(0,0,0,.1);
    border-top: 4px solid #3498db;
}
.nav_list>li a:hover{
    color: #007fff;
}
.nav_list>li:hover .glyphicon-chevron-down{
    transform: rotateX(180deg);
}
.nav_list>li .glyphicon-chevron-down{
    margin-left: 5px;
    font-size: 12px;
    transition: transform .3s;

}
.nav_list li .sub_nav{
    padding: 0px;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    display: none;
}
.nav_list li .sub_nav li{
    width: 100%;
    text-align: center;
    padding: 0;
}
.sub_nav li a{
    display: block;
    width: 100%;
    padding: 0px 20px;
}
.sub_nav li a:hover{
    background-color: #f6f6f6;
}
.link{
	margin-top: 30px;
	padding: 20px 0;
	background-color: #fff;
}
.link h3{
	text-align: center;
	color: #999;
    font-size: 14px;
    padding: 10px 0 20px 0; 
	font-weight: bold;
	margin: 0;
}
.link img{
	width: 100px;
    display: inline-block;
    vertical-align: middle;
	margin: 20px 15px 0;
}
.footer{
	text-align: center;
	background-color: #f6f6f6;
	line-height: 60px;
	color: #999;
	font-size: 12px;
}


.side{
    padding-right: 0;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 0;
    padding: 0 15px;
}
.panel .title{
    font-size: 16px;
    padding: 15px 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.panel .panel-body {
    position: relative;
    padding: 10px 0!important;
}
.media.media-number, .media.media-number-o {
    padding-bottom: 5px;
}
.media.media-number .media-left, .media.media-number-o .media-left {
     position: relative;
     color: #919191;
}
.link-dark {
    text-decoration: none!important;
    color: #313131 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.link-dark:hover {
    color: #4bbbfa !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.breadcrumb{
    background-color: transparent;
    margin-bottom: 17px;
}
.pagination{
    float: right;
}