.banner{
	max-height: 272px;
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 6px;
	position: relative;
}
.banner:hover #prev, .banner:hover #next{
	filter: alpha(opacity=100);
    opacity: 1;
}
.banner #prev, .banner #next{
	transition: opacity .3s;
	position: absolute;
    background-color: rgba(0,0,0,.4);
    height: 50px;
    width: 40px;
    top: 50%;
	transform: translate(0, -50%);
	z-index: 11;
	color: #fff;
	line-height: 50px;
	text-align: center;
	filter: alpha(opacity=0);
    opacity: 0;
	cursor: pointer;
}
.banner #prev{
	left: 0;
	border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.banner #next{
	right: 0;
	border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.banner ul{
	padding: 0;
	list-style: none;
	position: relative;
}
.banner ul .item{
	position: absolute;
	padding: 0;
	transition: opacity .6s;
	opacity: 0;
}
.banner ul .item.active{
	opacity: 1;
}
.banner .item img{
	width: 100%;
}
.content .main{
    padding: 0;
}
.main .header{
    padding: 16px 0;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}
.main .header a{
    padding-right: 18px;
    text-decoration: none;
    color: #333;
}
.main .header a.active{
    color: #007fff;
}
.main .list{
    background-color: #fff;
    padding: 0;
    list-style: none;
    overflow: hidden;
    margin: 0;
}
.main .list li{
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.main .list li:hover{
    background-color: #FAFFF8;
}
.main .list li .cover{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 190px;
    height: 120px;
    display: block;
    background-size: cover;
    border-radius: 6px;
}
.main .list li .cover img{
    width: 100%;
    height: 100%;
}
.main .list li .info{
    padding-left: 210px;
    width: 100%;
}
.main .list li .info a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}
.main .list li .info h3{
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}
.main .list li .info .describe{
    color: #666;
    overflow: hidden;
    width: 100%;
    padding-right: 10px;
    line-height: 23px;
    height: 64px;
}
.main .list li .info .time{
    font-size: 12px;
    margin-top: 10px;
    color: #999;
}
